table {
	border: 1px solid black;
}

td:hover {
	background-color: darkgray;
	color: blue;
}

tr, th {
	background-color: lavender;
	color: indigo;
}

tr, td {
	background-color: cornsilk;
	color: black;
}