/*==================================================
    Author: Joshua Otterman
==================================================*/
html {
    scroll-behavior: smooth;
}

body {
    font-family: "Lora", serif; /* Uses Lora from Google Fonts that I linked in the html document.*/
    background-color: rgb(190, 211, 210);
}

/*=========================================================================
    This is the font-size for the various elements.
=========================================================================*/

h1 {
    font-size: 50px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
}

.home-container p {
    font-size: 20px;
    text-align: center;
}

/*=====================================================
    Here I set the styling for the navbar fixed to
    the top of the page.
=====================================================*/

.wrap {
    width: 100%;
    height: 100%; 
}

div .nav-container {
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 200px;
    left: 200px;
    text-align: center;
    height: 60px;
    background-color: rgb(4, 4, 4, 0.2);
    border-radius: 0 0 10px 10px;
    z-index: 1;
}

@media screen and (max-width: 1185px) {
    div .nav-container {
        height: 105px;
    }
}

@media screen and (max-width: 805px) {
    div .nav-container {
        height: 150px;
    }
}

.nav {
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    background-color: rgb(33, 179, 171);
    border: none;
    color: black;
    opacity: 1;
    font-family: 'Cairo', sans-serif;
    
}

@media screen and (max-width: 1185px) {
    .nav {
        margin-bottom: 10px;
    }
}

.nav-container a {
    position: relative;
    top: 10px;
    padding-left: 10px;
    padding-right: 10px;;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 3px;
}

.nav-container:hover {
    background-color: rgb(4, 4, 4, 0.6)
}
.nav:hover {
    background-color:rgb(23, 213, 213, 1);
}

#home {
    margin-top: 70px;
    scroll-margin-top: 75px
}

@media screen and (max-width: 1185px) {
    #home {
        margin-top: 115px;
        scroll-margin-top: 115px;
    }
}

@media screen and (max-width: 805px) {
    #home {
        margin-top: 155px;
        scroll-margin-top: 155px;
    }
}

/*=====================================================
    Here I set make it so that the top of each anchored
    element appears just under the navbar instead of
    behind it.
=====================================================*/

#pay2play, #buy2play, #free2play, #contact {
    scroll-margin-top: 70px;
}

@media screen and (max-width: 1185px) {
    #pay2play, #buy2play, #free2play, #contact {
        scroll-margin-top: 115px;
    }
}

@media screen and (max-width: 805px) {
    #pay2play, #buy2play, #free2play, #contact {
        scroll-margin-top: 160px;
    }
}

/*=====================================================
    Here I set the size and placement of the home
    container and its heading so it does not appear 
    behind the navbar when scrolled to the top of the page.
=====================================================*/

.home-container {
    width: 100%;
}

.home-container h1 {
    text-align: center;
    margin-bottom: -20px;
    margin-top: 75px;
}

/*=====================================================
    Here I set the rows and columns for each section
    of images on the page.
=====================================================*/

.row {
    background-color:rgb(150, 167, 166);
    width: 98%;
    text-align: center;
    margin: auto;
    border-radius: 10px;
}

.column {
    float: left;
    width: 33.33%
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.image-window img {
    width: 250px;
    height: 150px;
}


/*=================================================================
    Here I make the styling choices for the Lightbox for each row
    of images.
=================================================================*/


.modalcolumn {
    float: left;
    width: 100%;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 620px;
    height: 349px;
}

.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

.mySlides {
    display: none;
    width: 620px;
    height: 349px;
    margin: auto;
}

.mySlides img {
    max-width: 100%;
    max-height: 100%;
    text-align: center;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -30px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

.prev {
    left: 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
}

img.click {
    opacity: 0.6;
    width: 150px;
    height: 100px;
}

img.click:hover {
    cursor: pointer;
}

.active, .click:hover {
    opacity 1;
}

img.hover-shadow {
    transition: 0.3s;
    cursor: pointer;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

/*=================================================================
    Here I made a container for my form element with the various
    text and input elements within it.
=================================================================*/

.container {
    background-color: rgb(150, 167, 166);
    border-radius: 30px;
    margin: auto;
    width: 75%;
    text-align: center;
    margin-top: 20px;
}

/*=================================================================
    Here I made the box elements within the payment class display
    horizontally across the screen.
=================================================================*/

form.payment {
    display: inline;
}

/*=================================================================
   Here I made the containers for each section of radio input buttons.
=================================================================*/

.payment, .gameplay, .setting {
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
    background-color: lightblue;
    border: 2px solid grey;
    border-radius: 15px;
    width: 180px;
    height:180px;
    vertical-align: middle;
}

/*=================================================================
   Here I set the alignment and margins for the radio buttons and
   their labels within their container.
=================================================================*/

.payment-container, .gameplay-container, .setting-container {
    text-align: left;
    margin-left: 22px;
    margin-top: -15px;
}

/*=================================================================
    Here I set the margins for each individual radio input to separate
    them from each other slightly.
=================================================================*/

#p2p, #b2p, #f2p, #pve, #pvp, #crafting, #social, #fashion, #fantasy, #scifi, #steampunk {
    margin-top: 5px;
}

/*=================================================================
    Here I set it so that the cursor would change to a pointer on the
    radio inputs set to "recommend."
=================================================================*/

.recommend {
    cursor: pointer;
}

/*=================================================================
    Here I set the email text input box and the submit button inline.
=================================================================*/

.email, .submit {
    display: inline;
}

/*=================================================================
    Here I adjusted the size, border, color, and margins of the email text
    input element.
=================================================================*/

.email input {
    font-size: 20px;
    margin-right: 10px;
    background-color: lightblue;
    border: 2px solid grey;
    width: 250px;
    height: 30px;
    border-radius: 3px;
}

/*=================================================================
    Here I adjusted the size, border, color, and shadow of the 
    submit button. I also set it to turn the cursor into a pointer.
=================================================================*/

.submit input {
    color: gray;
    background-color: lightblue;
    font-size: 20px;
    width: 100px;
    height: 35px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px darkgrey;
    cursor: pointer;
}

/*=================================================================
    Here I set the submit button to change background color and text
    color when the cursor hovers over it.
=================================================================*/

.submit input:hover {
    color: black;
    background-color: #448cce;
}

/*=================================================================
    Here I made the footer align to the right of the page.
=================================================================*/

footer {
    text-align: right;
}